
:root {
    --ribbon-color: #ED2939;
    --primary-color: hsla(50, 100%, 50%, 0.7);
    --secondary-color: hotpink;
    --dark-text-color: #36454F;
    --generic-light-color: #F8F9FB;

    /* Linear gradient colors for the modal backdrop */
    --page-color-1: #FAEADD;
    --page-color-2: #FBCF4F;
    --page-color-3: #F29CB7;

    /* Linear gradient colors for the panel background */
    --card-color-1: #45FF9A;
    --card-color-2: #2AF0FF;
    --card-color-3: #D383FF;
    --card-color-4: #FE4880;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

.ribbon {
    background-color: var(--ribbon-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}

.global-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Tab Styling */
[role="tablist"] {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 1000px;
    gap: 10px;
}

button {
    background-color: var(--generic-light-color);
}

button[aria-selected="true"] {
    background-color: var(--primary-color);
}

button:hover {
    cursor: pointer;
}

button:focus {
    
}

[role="tabpanel"] {

}

.card {
    background-image: linear-gradient(90deg, var(--card-color-1), var(--card-color-2), var(--card-color-3), var(--card-color-4));
    display: grid;
    grid-template-columns: 0.75fr auto;
    gap: 10px;
    border: var(--dark-text-color) 3px solid;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    align-items: center;
    justify-content: center;

    & .job-description p:nth-child(2) {
        color: var(--dark-text-color);
        text-decoration: underline;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;
    }

    & .job-description p:nth-child(3) {
        color: var(--dark-text-color);
        border: var(--dark-text-color) 1px dashed;
        border-top: 0px;
        border-left: 0px;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
    }

    & .job-description p:nth-child(4) {
        color: var(--dark-text-color);
        text-decoration: underline;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        align-self: center;
    }

    & .job-description p:nth-child(5) {
        color: var(--dark-text-color);
        text-decoration: underline;
        grid-column: 3 / 4;
        grid-row: 4 / 5;
        align-self: center;
    }

    & .job-description div {
        height: 80px;
        width: 80px;
        background-color: var(--secondary-color);
        border: var(--dark-text-color) 3px solid;
        border-radius: 50%;
        grid-column: 1 / 2;
        grid-row: 1 / 5;
        align-self: center;
        justify-self: center;
    }

    & .job-description {
        display: grid;
        grid-template-columns: 100px 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 5px;
    }

    & .job-salary p {
        color: var(--dark-text-color);
        font-style: italic;
        margin-bottom: 20px;
    }

    & .job-salary .view-details {
        height: 50px;
        width: 100px;
        border-radius: 5px;
        background-color: var(--dark-text-color);
        color: var(--generic-light-color);
    }
}

/* Modal Styling */
.modal::backdrop {
    background-image: linear-gradient(var(--page-color-1), var(--page-color-2), var(--page-color-3));
    opacity: 0.85;
}

.modal {
    background-color: #FFF;
    height: 300px;
    min-width: 500px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Font Utility Classes */
.open-sans-small {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
}

.open-sans-medium {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
}

.open-sans-large {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
}

.monteserrat-small {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}
.monteserrat-large {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
}