
:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

.global-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

[role="tablist"] {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 1000px;
    gap: 10px;
}

button {

}

button[aria-selected="true"] {

}

button:focus {
    
}

[role="tabpanel"] {
    
}

.card {
    background-color: yellow;
}